<%- include("header") -%>

<h2> This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum praesentium nam quia odio necessitatibus voluptatum facere, dolorem omnis nulla? Molestias animi corporis ipsum minus temporibus error quod veritatis eos non. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit optio quibusdam mollitia soluta eveniet provident ipsam delectus sint numquam possimus? Voluptas eius ea quibusdam quisquam tempora expedita. Totam, deleniti saepe?</p>

<%- include("footer") -%>